:root
{
    --main-color:#ff6a00;
}


.settings-box
{
    position:fixed;
    top:0;
    left:-200px;
    background-color:#fff;
    width:200px;
    z-index:1000;
    min-height:100vh;
    transition: .3s;
}
 
.settings-box.open
{
    left: 0;
}

.settings-box .toggle-settings
{
    position:absolute;
    right:-30px;
    top:100px;
    background-color:#fff;
    padding: 8px 0;
    width:30px;
    text-align:center;
    cursor: pointer;
    border-radius:5px;
}

.settings-box .toggle-settings .fa-gear
{
    padding: 8px 0;
    width:30px;
}

.settings-box .settings-container
{

}

body {
    font-family: 'Open Sans', sans-serif;
}

.landing-page
{
    min-height:100vh;
    background-image:url(images/firstpic.jpg); 
    background-size: cover;
    position:relative;  
    
}

.overlay
{
    background-color: rgba(35, 31, 31,0.6);
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    z-index:1;
}

.header-area
{
    position: relative;
    z-index:2;
    color:#fff;
    display:flex;
    font-weight:bold;
    padding:10px;
}

.header-area .logo
{
    width:300px;
    padding:15px;
    font-size:20px;
    font-weight:bold;
}

.header-area .links
{
    list-style:none;
    width:100%;
    text-align:right;
    padding-right:20px;
    padding-left:0px;
    margin-top:10px;
}

.header-area .links li
{
    display:inline-block;
    padding:10px;
}

.header-area .links li a
{
    text-decoration:none;
    color:#fff;
}

.header-area .links li a:hover
{
    color: var(--main-color);
    transition: 0.5s;
}

.landing-page .introduction-text
{
    z-index: 2;
    position:absolute;
    color:#fff;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    
}

.landing-page .introduction-text h1
{
    font-size:45px;
    font-weight:bold;
    font-style:italic;
}

.landing-page .introduction-text p
{
    font-size:22px;

}

#creative 
{
    color:var(--main-color);
}

.settings-container .option-box
{
    padding: 20px;
}

.settings-container .option-box .h4
{
    margin:0px;
    color: #666;
}

.settings-container .option-box .colors-list
{
    list-style:none;
    text-align:center;
    padding:0px;
}

.settings-container .option-box .colors-list li
{
    height:20px;
    width:20px;
    background-color: #333;
    border-radius: 50%;
    cursor:pointer;
    opacity:0.5;
    display:inline-block;
}

.settings-container .option-box .colors-list li.active
{
    opacity:1;
}


.settings-container .option-box .colors-list li:first-child
{
    background-color: #ff6a00;
}

.settings-container .option-box .colors-list li:nth-child(2)
{
    background-color:#852323;
}

.settings-container .option-box .colors-list li:nth-child(3)
{
    background-color: #bab130;
}

.settings-container .option-box .colors-list li:nth-child(4)
{
    background-color: #3780c3;
}

.settings-container .option-box .colors-list li:nth-child(5)
{
     background-color: #a239c5;

}